{% extends 'layout.html' %}

{% block title %}Chat{% endblock %}

{% block content %}
  <form method="get" action="{{ api }}/chat/send">
    <label for="sender">who u is?</label>
    <input type="text" id="sender" name="sender" value="{{ sender }}" placeholder="Your Name" maxlength="15"
           onchange="saveSender(this)">
    
    <hr/>
    
    <table>
      {% for message in messages %}
        <tr>
          <td>
            {% if message.sender %}
              {{message.timestamp.strftime("%H:%M") if message.timestamp}}
            {% endif %}
          </td>
          <td class="{{ 'system-sender' if message.sender and message.sender == 'System' }}">
            {% if message.sender %}
              {{message.sender}}:
            {% endif %}
          </td>
          <td class="tc">
            {% if not message.special.get("is_day") %}
              {% if message.special.get("is_mega") %}
                <span style="font-size: x-large;">{{message.text}}</span>
              {% else %}
                {{message.text}}
              {% endif %}
            {% else %}
              <div style="padding-top: 10px;"><i>{{message.text}}</i></div>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    
    <center>
      <input type="text" id="text" name="text" required autofocus maxlength="150">
      <input type="submit" value="Send">
      &nbsp;|&nbsp;
      <input type="reset" value="Refresh" onclick="window.location.reload()">
    </center>
  </form>
{% endblock %}

{% block endscript %}
<script>
  const LS_SENDER = 'sender';

  function saveSender(ele) {
    if (ele?.value?.trim().length) {
      localStorage.setItem(LS_SENDER, ele.value.trim());
    }
  }

  function getSender() {
    if (localStorage.getItem(LS_SENDER)?.trim().length &&
        document.getElementById('sender')) {
      document.getElementById('sender').value = localStorage.getItem(LS_SENDER);
    }
  }
  getSender();
</script>
{% endblock %}
