{% extends 'layout.html' %}

{% block title %}Chat{% endblock %}

{% block content %}
  <form method="post" action="{{ api }}/chat/send">
    <input type="hidden" id="sender" name="sender" value="{{ sender }}">
    <button type="button" onclick="toggleThemeMode()">Theme</button>
    
    <hr/>
    
    <table>
      {% for message in messages %}
        <tr>
          <td class="dc">
            {% if message.sender %}
              {{ message.timestamp.strftime("%H:%M") if message.timestamp }}
            {% endif %}
          </td>
          <td class="{{ 'system-sender' if message.sender and message.sender == admin_name }}">
            {% if message.sender %}
              {{ message.sender }}:
            {% endif %}
          </td>
          <td class="tc">
            {% if not message.special.get("is_day") %}
              {% if message.special.get("is_mega") %}
                <span style="font-size: x-large;">{{message.text}}</span>
              {% elif message.special.get("is_system") or message.special.get("is_safe") %}
                  {{ message.text | safe }}
              {% else %}
                {{ message.text }}
              {% endif %}
            {% else %}
              <div class="day">{{ message.text }}</div>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    
    <center>
      <input type="text" id="text" name="text" maxlength="{{maxinput}}"
             spellcheck="true" autofocus="true"
             onkeydown="chatDoKey(event)" onchange="saveChat(this)">
      
      <button type="submit">Send</button>
      &nbsp;|&nbsp;
      <button type="reset" onclick="window.location.reload()">Refresh</button>
    </center>
  </form>
{% endblock %}

{% block endscript %}
<script>
  const LS_SENDER = 'sender';
  const LS_TEXT = 'text';
  
  function chatDoKey(event) {
    if (event.key === 'ArrowUp' && document.getElementById('sender')) {
      event.preventDefault();
      document.getElementById('text').value = localStorage.getItem(LS_TEXT) ?? '';
    }
  }

  function saveChat(ele) {
    if (ele?.value?.trim().length) {
      localStorage.setItem(LS_TEXT, ele.value.trim());
    }
  }

  function saveSender(value) {
    if (value?.trim().length) {
      localStorage.setItem(LS_SENDER, value.trim());
    }
  }

  function getSender() {
    // Query param is the main source, if we don't have that fallback to local storage
    const urlParams = new URLSearchParams(window.location.search);
    const sender = urlParams.get("sender");
    
    if (!sender &&
        localStorage.getItem(LS_SENDER)?.trim().length &&
        document.getElementById('sender')) {
      document.getElementById('sender').value = localStorage.getItem(LS_SENDER);
    }
    else {
      saveSender(sender);
    }
  }
  getSender();
</script>
{% endblock %}
