<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - Glyph</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
    <!-- Little gimmicky, but straight SVG unicode emoji for the favicon -->
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🗣️</text></svg>">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <script>
      const LS_THEME = "theme";
      let newMessageCount = 0;
      
      window.onfocus = () => {
        updateTitleMessageCount(0, true);
      }
      
      function toggleThemeMode() {
        document.body.classList.toggle("theme-light");
        document.body.classList.toggle("theme-dark");
        
        saveTheme();
      }
      
      function saveTheme() {
        const isDark = document.body.classList.contains("theme-dark");
        localStorage.setItem(LS_THEME, isDark ? "theme-dark" : "theme-light");
      }

      function getTheme() {
        if (localStorage.getItem(LS_THEME)?.trim().length) {
          const theme = localStorage.getItem(LS_THEME);
          if (theme && theme.trim().length) {
            document.body.classList = [theme];
          }
        }
      }
      
      function updateTitleMessageCount(modBy, isSetInstead) {
        if (isSetInstead) {
          newMessageCount = modBy;
        }
        else {
          newMessageCount += modBy;
        }
        const prefix = newMessageCount > 0 ? '(' + newMessageCount + ') ' : '';
        
        let oldTitle = document.title;
        if (document.title.lastIndexOf(')') !== -1) {
          oldTitle = document.title.substring(document.title.lastIndexOf(')')+1)
        }
        document.title = prefix + oldTitle;
      }
      
      function generateRandomColor() {
        const letters = '0123456789ABCDEF';
        let color = '#';
        
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        
        return color;
      }

      function playBeep(frequency = 600, duration = 200, volume = 0.5) {
        // Mostly copied from online, but play a fairly low-level sounding beep
        const audioCtx = new (window.AudioContext || window.webkitAudioContext)();
        const oscillator = audioCtx.createOscillator();
        const gainNode = audioCtx.createGain();

        oscillator.frequency.value = frequency;
        oscillator.type = "sine";
        gainNode.gain.value = volume;
        oscillator.connect(gainNode);
        gainNode.connect(audioCtx.destination);
        oscillator.start();

        setTimeout(() => {
            oscillator.stop();
            audioCtx.close();
        }, duration);
      }
    </script>
    
    {% block header %}{% endblock %}
  </head>
  <body class="{{ theme }}">
    <section class="content">
      {% block content %}{% endblock %}
    </section>
    
    <script>
      getTheme();
    </script>
  
    {% block endscript %}{% endblock %}
  </body>
</html>