body {
  overflow-y: scroll;
  font-family: monospace;
  /* Magic number that works best on Kobo Clara in 2026 to have the keyboard right under the input*/
  margin-bottom: 53%;
}

.theme-dark, .theme-dark a, .theme-dark a:visited {
  background-color: #333333;
  color: white;
}

.theme-light, .theme-light a, .theme-light a:visited {
  background-color: #FEFEFE;
  color: #111111;
}

.theme-dark input[type="text"] {
  background-color: black;
  color: white;
}

.theme-light input[type="text"] {
  background-color: #BBBBBB;
  color: black;
}

input[type="text"] {
  width: 50%;
  height: 30px;
  border: 0;
  padding: 0 0 0 5px;
  margin: 0;
  font-family: monospace;
}

button {
  height: 30px;
  border-radius: 10px;
}

.theme-dark .system-sender {
  color: lightblue;
  font-weight: bold;
}

.theme-light .system-sender {
  color: navy;
  font-weight: bold;
}

.day {
  padding: 5px;
  border: 2px dotted green;
  border-radius: 10px;
  text-align: center;
  font-size: large;
  font-variant: small-caps;
}

.error {
  color: #DD0000;
  font-weight: bold;
}

/* Short hand (as it's in a repeating message table) for "text cell" */
.tc {
  padding-left: 10px;
}

/* Short hand for "date cell" */
.dc {
  font-size: xx-small;
  vertical-align: middle;
}